/*ブラウザがそれぞれに持っているCSSをリセットするための記述*/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:#6c6b6b;
}

header{
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.header-title{
  padding:20px ;
}

.main-box{
  width:840px;
  margin:50px auto;
}

.main-box-img{
  padding:30px 0;
  border-bottom:1px solid  #f7f7f7;
}